/* Font and Section Style */
.about-section{
  background-color: #f3d9d9; 
}
.about-me-section {
  font-family: Poppins, sans-serif;
  

}

/* Vertical line above heading */
.about-section-heading {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-heading {
  font-size: 1.3rem;
  color: #8f2d22;
  font-weight: bold;
  position: relative;
  margin-bottom: 60px;
  padding-top: 100px;
  /* space for the line */
}

.about-section-heading::after {
  content: '';
  position: absolute;
  top: 0;
  height: 90px;
  width: 2px;
  background-color: #8f2d22;
}

/* Headings */
h1.display-4 {
  font-size: 2rem;
  line-height: 1.2;
}

h1.display-1 {
  font-size: 0.9rem;
  line-height: 1;
}

/* Paragraph */
.about-me-section p {
  color: #333;
}

.about-image-container{
   position: relative;
    display: inline-block;
    overflow: hidden;
}

.about-image{
    width: 100%;
    max-width: 490px; /* Cap size but allow shrinking */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover;
    position: relative;
    z-index: 1;
}

/* Responsive Headings */
@media (max-width: 768px) {
  h1.display-4 {
    font-size: 2rem;
  }

  h1.display-1 {
    font-size: 1.1rem;
  }
}

@media (max-width: 992px) {
  h1.display-4 {
    font-size: 2rem;
  }

  h1.display-1 {
    font-size: 1.1rem;
  }
}