.nav-link {
    font-family: Teko, serif;
    font-size: 18px;
    color: #fff;
  }

  .navbar{
    padding: 10px 90px;
  }
  
  .nav-link:hover {
    color: #6e0d02;
    transition: background-color 0.3s ease;
  }
  
  .logo {
    padding: 6px;
    border-radius: 5px;
    background-image: linear-gradient(135deg, #910c0c 0%, #7e3d01 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    /* font-family: monospace; Optional: for code-like appearance */
    font-size: 1.6rem; /* Adjust as needed */
}
  .outline-button {
    border: 1px solid #4e0c04;  
    color: #ffffff;
    padding: 3px 20px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 400;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease;
  } 
  .outline-button:hover {
    background-color: #4e0c04;
    color: #fff;
    transition: background-color 0.3s ease;
    border: none;
  }

  @media (max-width: 990px) {
  .nav-links-container {
    border: 2px solid #ffffff;
    color: #ffffff;
    display: flex;
    justify-content: center;
    padding: 5px;
    border-radius: 25px;
}
.navbar{
  padding: 10px 20px;
}
  }